body {
  padding-right: 0 !important;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #2B2C31;
}

.uk-navbar-toggle {
  color: #bdc3c7;
}

.uk-navbar-toggle:hover {
  color: #d0d5d8;
}

.last-edited {
  margin: 0;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none;
}

.h3-field {
  color: #d0d5d8;
  margin-bottom: 5px;
}


.profile-picture {
  width: 150px;
  height: 150px;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
}

.uk-card-default {
  background: #2B2C31;
  color: #bdc3c7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  border-radius: 3px;
}

.uk-textarea,
.uk-input {
  background: #2B2C31;
  color: #bdc3c7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  border-radius: 3px;
  resize: none;
  border-color: #28292d;
}


.not-found-container h1 {
  color: #bdc3c7;
  font-size: 10rem;
  margin-bottom: 0;
}

.not-found-container p {
  margin-top: 5px;
  font-size: 2rem;
}

.swal-modal {
  background-color: #2B2C31;
}



.badge {
  box-sizing: border-box;
  min-width: 22px;
  height: 22px;
  padding: 2px 5px;
  border-radius: 6px;
  vertical-align: middle;
  background: #242528;
  color: #bdc3c7;
  font-size: 0.875rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.slug-inline {
  width: 100%;
  display: block !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  color: #bdc3c7;
}

.search-form {
  height: 75px !important;
  width: 100% !important;
  font-size: 2rem !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #242528;
}


.search-results {
  margin-top: 20px;
}

.small-margin {
  margin-top: 5px !important;
}

.search-info {
  margin-left: 10px !important;
}

.search-title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #fff;
}

.post-count {
  margin: 0;
}

.post-info {
  margin-left: 15px;
}

.post-content {
  margin-top: 20px;
}

.post-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}




.edit-slug {
  display: flex;
  flex-direction: row;
}

.slug-root-url p {
  margin: 0;
  color: #bdc3c7;
}

.slug-input {
  border-radius: 0 5px 5px 0 !important;
  padding-left: 5px !important;
}

.slug-root-url {
  background-color: #28292d;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  border-radius: 5px 0 0 5px;
  vertical-align: middle;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.search-profile-picture {
  width: 75px !important;
  height: 75px !important;
  border-radius: 50%;
  object-fit: cover;
}

.search-profile-picture img {
  width: 75px !important;
  height: 75px !important;
  object-fit: cover;
}

.align-center {
  align-items: center;
}

.search-post {
  background-color: #2B2C31 !important;
  color: #bdc3c7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08) !important;
  border-radius: 3px;
  resize: none;
  border-color: #28292d !important;
}

.post-actions-icon svg {
  fill: #bdc3c7;
  width: 1.5rem;
  height: 1.5rem;
}

em {
  color: inherit !important;
}

.post-actions-icon svg:hover {
  fill: #fff;
}

.top-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nuxt-link {
  text-decoration: none !important;
  color: inherit !important;
}

.nuxt-link:hover {
  color: inherit;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  position: absolute;
}

.uk-textarea:focus,
.uk-input:focus {
  border-color: #242528;
  background-color: #2B2C31;
  color: #fff;
}

.slug-info p {
  display: flex;
  margin: 0;
  display: inline;
}

.slug-info {
  flex-direction: space-between;
  align-content: center;
}

.slug-edit {
  color: #74b9ff;
}

.slug-edit:hover {
  color: #0984e3;
}

/* .slug-hide {
  color: #a29bfe;
} */

/* .slug-hide:hover {
  color: #6c5ce7;
} */

.slug-edit,
.slug-hide {
  cursor: pointer;
}

.margin-bottom {
  margin-bottom: 10px;
}

.uk-card-default .uk-card-title {
  color: #fff;
  margin-bottom: 0;
}

.bio {
  margin-top: 5px;
  margin-bottom: 0px;
}

.profile-info {
  margin-left: 20px;
  width: 100%;
}

.uk-link,
a {
  color: #fff;
}

.login-state {
  text-align: center;
  font-size: 0.9rem;
  color: #bdc3c7;
  margin-bottom: 20px;
}


html {
  background: #313339;
}

.posts {
  margin-top: 40px;
}

.post {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #242528;
  background-color: #28292d;

}

.post-content p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.post h1 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

.post p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.not-found h4 {
  color: #bdc3c7;
  margin: 0;
}

.uk-button-danger:disabled,
.uk-button-default:disabled,
.uk-button-primary:disabled,
.uk-button-secondary:disabled {
  background-color: #2B2C31 !important;
  cursor: not-allowed;
  border-color: #ff4757 !important;
}

.swal2-icon.swal2-warning {
  border-color: #F79F1F;
  color: #F79F1F;
}

.swal2-popup .swal2-title {
  color: #fff;
}

.swal2-popup .swal2-content {
  color: #bdc3c7;
}

.swal2-popup {
  background-color: #2B2C31;
}


.swal2-popup.swal2-toast,
.mixin {
  border-radius: 5px;
  border: 1px solid #242528 !important;
  background-color: #28292d !important;
  color: #bdc3c7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.uk-button-primary {
  background-color: #2B2C31;
  text-transform: none;
  color: #bdc3c7;
  border: 1px solid transparent;
  border-radius: 5px;
  line-height: 50px;
}


.uk-button-primary:hover {
  background-color: #242528;
  color: #fff;
}

.uk-button-primary:active {
  background-color: #151618;
  color: #fff;
}

.uk-button-primary:focus {
  background-color: #2B2C31;
  color: #bdc3c7;
}

.page-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-loader svg {
  width: 50px;
  height: 50px;
  color: #bdc3c7;
}

.page-loader p {
  text-align: center;
  color: #bdc3c7;
}

.textarea-info {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.textarea-info p {
  margin: 0;
}

.publish-btn {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
}

.bottom-post {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.editor-toolbar button.active,
.editor-toolbar button:hover {
  background: inherit;
  border: 0;
  color: #fff;
  padding: 1px;
}

.editor-toolbar button {
  color: #bdc3c7;
}

.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-line::selection,
.CodeMirror-line>span::selection,
.CodeMirror-line>span>span::selection {
  background: #3399FF;
  color: #fff;
}

.CodeMirror-cursor {
  border-left: 1px solid #bdc3c7;
  border-right: none;
  width: 0
}

html {
  font-family: "Inconsolata", monospace !important;
}

.post-pro-pic {
  height: 75px !important;
  width: 75px !important;
}

.post-pro-pic img {
  height: 75px;
  width: 75px;
}

h1,
h2,
h3,
h4,
h5,
p,
.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle,
input,
textarea,
select,
button {
  font-family: "Inconsolata", monospace !important;
}

/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */
pre {
  all: unset !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1E1E1E;
  color: #DCDCDC;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569CD6;
}

.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4EC9B0;
}

.hljs-number,
.hljs-class {
  color: #B8D7A3;
}

.hljs-string,
.hljs-meta-string {
  color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #57A64A;
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
  color: #9CDCFE;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: inherit !important;
  background: #212123 !important;
}

blockquote {
  color: #bdc3c7 !important;
  border-left: .25em solid #6a737d !important;
  padding-right: 5px;
}

blockquote p {
  margin-left: 5px;
}

.auto-textarea-wrapper .auto-textarea-input.no-resize {
  color: #bdc3c7 !important;
}

#editor,
.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper .content-input-wrapper {
  width: 100%;
  height: 100%;
  padding: 8px 5px 15px 25px;

}

.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper {
  overflow-y: hidden;
}

.auto-textarea-wrapper .auto-textarea-input {
  overflow-y: scroll;
}

.markdown-body {
  font-family: "Inconsolata", monospace !important;
}

.v-note-wrapper .v-note-op .v-left-item .op-icon:hover,
.v-note-wrapper .v-note-op .v-right-item .op-icon:hover {
  color: #bdc3c7 !important;
  background: transparent !important;
}

.v-note-wrapper .v-note-op .v-left-item .op-icon.selected,
.v-note-wrapper .v-note-op .v-right-item .op-icon.selected {
  color: #fff !important;
  background: transparent !important;
}

.markdown-body {
  z-index: 0 !important;
}

.post-content h1,
h2,
h3,
h4,
h5 {
  color: #bdc3c7;
}

.op-header.popup-dropdown {
  background: #2B2C31 !important;
  color: #bdc3c7;
}

.dropdown-item {
  color: #bdc3c7;
}

.dropdown-item:hover {
  color: #fff !important;
  background: transparent !important;
}

.op-icon.dropdown-wrapper.dropdown:hover {
  color: #fff !important;
  background: transparent !important;
}
