body {
  padding-right: 0 !important;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #2B2C31;
}

.uk-navbar-toggle {
  color: #bdc3c7;
}

.uk-navbar-toggle:hover {
  color: #d0d5d8;
}

.last-edited {
  margin: 0;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none;
}

.h3-field {
  color: #d0d5d8;
  margin-bottom: 5px;
}


.profile-picture {
  width: 150px;
}

.profile-picture img {
  border-radius: 50%;
}

.uk-card-default {
  background: #2B2C31;
  color: #bdc3c7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  border-radius: 3px;
}

.uk-textarea,
.uk-input {
  background: #2B2C31;
  color: #bdc3c7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  border-radius: 3px;
  resize: none;
  border-color: #28292d;
}


.not-found-container h1 {
  color: #bdc3c7;
  font-size: 10rem;
  margin-bottom: 0;
}

.not-found-container p {
  margin-top: 5px;
  font-size: 2rem;
}

.swal-modal {
  background-color: #2B2C31;
}

.swal2-popup .swal2-styled.swal2-confirm {
  color: #bdc3c7;
}

.post-actions-icon svg {
  fill: #bdc3c7;
  width: 1.5rem;
  height: 1.5rem;
}

.post-actions-icon svg:hover {
  fill: #fff;
}

.top-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nuxt-link {
  text-decoration: none !important;
  color: inherit !important;
}

.nuxt-link:hover {
  color: inherit;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  position: absolute;
}

.uk-textarea:focus,
.uk-input:focus {
  border-color: #242528;
  background-color: #2B2C31;
  color: #fff;
}

.slug-info p {
  display: flex;
  margin: 0;
  display: inline;
}

.slug-info {
  flex-direction: space-between;
  align-content: center;
}

.slug-edit {
  color: #74b9ff;
}

.slug-edit:hover {
  color: #0984e3;
}

/* .slug-hide {
  color: #a29bfe;
} */

/* .slug-hide:hover {
  color: #6c5ce7;
} */

.slug-edit,
.slug-hide {
  cursor: pointer;
}

.margin-bottom {
  margin-bottom: 10px;
}

.uk-card-default .uk-card-title {
  color: #fff;
  margin-bottom: 0;
}

.bio {
  margin-top: 5px;
  margin-bottom: 0px;
}

.profile-info {
  margin-left: 20px;
}

.uk-link,
a {
  color: #fff;
}

.login-state {
  text-align: center;
  font-size: 0.9rem;
  color: #bdc3c7;
  margin-bottom: 20px;
}


html {
  background: #313339;
}

.posts {
  margin-top: 40px;
}

.post {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #242528;
  background-color: #28292d;

}

.post h1 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

.post p {
  margin-top: 10px;
}

.not-found h4 {
  color: #bdc3c7;
  margin: 0;
}

.uk-button-danger:disabled,
.uk-button-default:disabled,
.uk-button-primary:disabled,
.uk-button-secondary:disabled {
  background-color: #2B2C31 !important;
  cursor: not-allowed;
  border-color: #ff4757 !important;
}

.swal2-icon.swal2-warning {
  border-color: #F79F1F;
  color: #F79F1F;
}

.swal2-popup .swal2-title {
  color: #fff;
}

.swal2-popup .swal2-content {
  color: #bdc3c7;
}

.swal2-popup {
  background-color: #2B2C31;
}


.swal2-popup.swal2-toast,
.mixin {
  border-radius: 5px;
  border: 1px solid #242528 !important;
  background-color: #28292d !important;
  color: #bdc3c7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.uk-button-primary {
  background-color: #2B2C31;
  text-transform: none;
  color: #bdc3c7;
  border: 1px solid transparent;
  border-radius: 5px;
  line-height: 50px;
}


.uk-button-primary:hover {
  background-color: #242528;
  color: #fff;
}

.uk-button-primary:active {
  background-color: #151618;
  color: #fff;
}

.uk-button-primary:focus {
  background-color: #2B2C31;
  color: #bdc3c7;
}

.page-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-loader svg {
  width: 50px;
  height: 50px;
  color: #bdc3c7;
}

.page-loader p {
  text-align: center;
  color: #bdc3c7;
}

.textarea-info {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.textarea-info p {
  margin: 0;
}

.publish-btn {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
}

.bottom-post {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.editor-toolbar button.active,
.editor-toolbar button:hover {
  background: inherit;
  border: 0;
  color: #fff;
  padding: 1px;
}

.editor-toolbar button {
  color: #bdc3c7;
}

.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-line::selection,
.CodeMirror-line>span::selection,
.CodeMirror-line>span>span::selection {
  background: #3399FF;
  color: #fff;
}

.CodeMirror-cursor {
  border-left: 1px solid #bdc3c7;
  border-right: none;
  width: 0
}
